---
import icons from "@assets/icons";

// noinspection JSUnusedGlobalSymbols
export const prerender: boolean = true;

import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Hammad Majid"
            description="I'm Hammad Majid but you can call me Bine. I become me when I combine my love for Theory. Chaos. Movies. Programming. Supernovas. Music & Tea.">
  <main class="p-4 space-y-8">
    <section class="space-y-4">
      <div class="flex flex-row items-center gap-1">
        <h1 class="text-2xl font-bold">Bine</h1>
        <a href="/rss.xml">
          <Fragment set:html={icons.rss} />
          <span class="sr-only">RSS Feed</span>
        </a>
      </div>
      <p class="text-lg text-justify">
        Hi👋, I'm Hammad Majid but you can call me Bine. I become me when I combine my love for Theory. Chaos. Movies.
        Programming. Supernovas. Music & Tea. </p>
    </section>
    <section class="space-y-4">
      <h2 class="text-xl font-bold">Posts</h2>
      <p>Not posts yet.</p>
    </section>
    <section>
      <h2 class="text-xl font-bold">Projects</h2>
      <p>Not projects yet.</p>
    </section>
  </main>
</BaseLayout>
