---
// noinspection JSUnusedGlobalSymbols
export const prerender: boolean = true;

import BaseLayout from '@layouts/BaseLayout.astro';
import Button from '@components/Button.astro';
---

<BaseLayout title="Hammad Majid" description="I'm Hammad Majid a front-end developer with a passion for writing web applications using technologies like Astro and Svelte. I also like to experiment with low-level programming languages such as assembly, constantly pushing the boundaries of what's possible with code. It's a challenging but rewarding pursuit that keeps me engaged and motivated.">
  <main class="h-full grid items-center">
    <div class="px-12 md:px-24 py-5">
      <header class="space-y-1">
        <h1 class="text-4xl font-semibold">Hammad Majid</h1>
        <p>Front-end developer</p>
      </header>
      <div
        class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 items-start mt-6"
      >
        <Button
          icon="fa-solid fa-arrow-right"
          order="text-icon"
          style="filled"
          text="Get in touch"
          href="/contact"
        />
        <Button
          icon="fa-brands fa-github"
          order="icon-text"
          style="ghost-outlined"
          text="github"
          href="https://github.com/hammadmajid"
        />
      </div>
    </div>
  </main>
</BaseLayout>
