---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Hammad Majid">
	<main class="h-screen grid place-items-center">
		<header class="text-center">
			<h1 class="text-4xl font-semibold">Hammad Majid</h1>
		</header>
	</main>
</BaseLayout>
