---
export const prerender = true;

import BaseLayout from '~/layouts/BaseLayout.astro';
import Button from '~/components/Button.astro';
---

<BaseLayout title="Hammad Majid" description="Front-end developer">
  <main class="h-full grid items-center">
    <div class="px-24 py-5">
      <header class="space-y-1">
        <h1 class="text-4xl font-semibold">Hammad Majid</h1>
        <p>Front-end developer</p>
      </header>
      <div class="flex flex-row space-x-4 items-center mt-6">
        <!--
          flex space-x-2 bg-neutral-200/80 ring-neutral-200/80 ring-2 hover:bg-neutral-300/80 hover:ring-neutral-300/80 text-slate-900 font-medium transition-colors px-4 py-2 rounded-sm
         -->
        <Button
          icon="arrow-right"
          order="text-icon"
          style="filled"
          text="Get in touch"
          href="/contact"
        />
        <!-- class="flex space-x-2 ring-slate-100/90 hover:ring-neutral-300/80 ring-2 px-4 py-2 rounded-sm transition-colors" -->
        <Button
          icon="github"
          order="icon-text"
          style="ghost-outlined"
          text="github"
          href="https://github.com/hammadmajid"
        />
      </div>
    </div>
  </main>
</BaseLayout>
