---
import Icon from 'astro-icon';

const links: { label: string; href: string; icon: string }[] = [
  {
    label: 'Email',
    href: 'mailto:mail@hammadmajid.com',
    icon: 'envelope',
  },
  {
    label: 'GitHub',
    href: 'https://github.com/hammadmajid',
    icon: 'github',
  },
  {
    label: 'LinkedIn',
    href: 'https://www.linkedin.com/in/hammadmajid',
    icon: 'linkedin',
  },
  {
    label: 'Mastodon',
    href: 'https://techhub.social/@hammadmajid',
    icon: 'mastodon',
  },
  {
    label: 'Figma',
    href: 'https://figma.com/@hammadmajid',
    icon: 'figma',
  },
];
---

<footer
  class="pt-6 md:pb-4 md:px-24 md:flex md:flex-row md:items-center md:justify-between"
>
  <p class="hidden md:block text-neutral-500 text-sm">
    “Simplicity, carried to the extreme, becomes elegance.” ~ Jon Franklin
  </p>
  <div
    class="flex flex-row justify-center items-center gap-2 p-2 bg-neutral-200 rounded-md"
  >
    {
      links.map((link) => {
        return (
          <a href={link.href} aria-label={link.label} class="p-2 group" rel="me">
            <Icon
              name={link.icon}
              class="w-4 h-4 fill-neutral-500 group-hover:fill-neutral-700 group-active:fill-neutral-700 transition-colors"
            />
          </a>
        );
      })
    }
  </div>
</footer>
