---
import Icon from 'astro-icon';
---

<footer class="pt-6 pb-4">
  <div class="flex flex-row justify-center items-center gap-3">
    <a href="mailto:mail@hammadmajid.com" target="_blank">
      <Icon
        name="envelope"
        class="w-4 fill-neutral-500 hover:fill-neutral-300 active:fill-neutral-300 transition-colors"
      />
    </a><a href="https://github.com/hammadmajid" target="_blank"
      ><Icon
        name="github"
        class="w-4 fill-neutral-500 hover:fill-neutral-300 active:fill-neutral-300 transition-colors"
      /></a
    ><a href="https://www.linkedin.com/in/hammadmajid" target="_blank"
      ><Icon
        name="linkedin"
        class="w-4 fill-neutral-500 hover:fill-neutral-300 active:fill-neutral-300 transition-colors"
      /></a
    ><a href="https://techhub.social/@hammadmajid" target="_blank"
      ><Icon
        name="mastodon"
        class="w-4 fill-neutral-500 hover:fill-neutral-300 active:fill-neutral-300 transition-colors"
      /></a
    ><a href="https://figma.com/@hammadmajid" target="_blank"
      ><Icon
        name="figma"
        class="w-4 h-4 fill-neutral-500 hover:fill-neutral-300 active:fill-neutral-300 transition-colors"
      /></a
    ><a href="https://www.twitter.com/hammadmajid_4" target="_blank"
      ><Icon
        name="twitter"
        class="w-4 fill-neutral-500 hover:fill-neutral-300 active:fill-neutral-300 transition-colors"
      /></a
    >
  </div>
</footer>
