---
import Icon from 'astro-icon';

const links: { text: string; href: string }[] = [
  {
    text: 'Notebooks',
    href: '/notebooks',
  },
  {
    text: 'Lab',
    href: '/lab',
  },
  {
    text: 'Contact',
    href: '/contact',
  },
  {
    text: 'Support',
    href: '/support',
  },
  {
    text: 'About',
    href: '/about',
  },
];
---

<nav class="text-neutral-500">
  <div class="flex flex-col md:flex-row justify-between md:px-24">
    <div class="flex flex-row justify-between w-full">
      <a href="/" class="text-xl font-medium hover:text-slate-100 p-4">HM</a>
      <button
        type="button"
        aria-label="menu button"
        class="p-4 md:hidden"
        id="toggle-button"
      >
        <Icon name="bars" class="w-6 h-6" />
      </button>
    </div>
    <ul
      class="hidden md:flex md:flex-row items-center gap-2 text-center"
      id="nav-menu"
    >
      {
        links.map(({ text, href }) => {
          return (
            <li>
              <a
                {href}
                class="p-2 block h-full hover:bg-neutral-200 active:bg-neutral-200 rounded-sm transition-colors"
              >
                {text}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</nav>

<script>
  const toggleButton: HTMLElement = document.getElementById('toggle-button')!;
  const navMenu: HTMLElement = document.getElementById('nav-menu')!;

  toggleButton.addEventListener('click', () => {
    navMenu.classList.toggle('hidden');
  });
</script>
