---
import icons from '@assets/icons.ts';

const pages: string[] = ['Posts', 'Tags', 'Contact', 'About'];
---
<header class="flex flex-col sm:flex-row justify-between items-center p-4">
  <div class="w-full flex flex-row justify-between items-center">
    <a href="/" class="text-nowrap block font-medium text-xl">Hammad Majid</a>
    <button class="block sm:hidden" id="open-button">
      <Fragment set:html={icons.barsBottomRight} />
    </button>
    <button class="hidden sm:hidden" id="close-button">
      <Fragment set:html={icons.xMark} />
    </button>
  </div>
  <nav id="nav-menu" class="hidden sm:block pt-4 sm:pt-0">
    <ul class="text-center space-y-4 sm:space-y-0 sm:flex sm:space-x-4">
      {pages.map((page: string) => (
        <li>
          <a href={`/${page.toLowerCase()}`} class="hover:text-light-accent">{page}</a>
        </li>
      ))}
    </ul>
  </nav>
</header>

<script>
  const openButton: HTMLElement = document.getElementById('open-button')!;
  const closeButton: HTMLElement = document.getElementById('close-button')!;
  const navMenu: HTMLElement = document.getElementById('nav-menu')!;

  openButton.addEventListener('click', () => {
    navMenu.classList.toggle('hidden');
    openButton.classList.toggle('hidden');
    closeButton.classList.toggle('hidden');
  });

  closeButton.addEventListener('click', () => {
    navMenu.classList.toggle('hidden');
    openButton.classList.toggle('hidden');
    closeButton.classList.toggle('hidden');
  });
</script>