---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/cbef3dd862.js"
            crossorigin="anonymous"
        ></script>
        <title>{title}</title>
    </head>
    <body
        class="bg-gradient-to-tr from-slate-900 via-gray-800 to-stone-900 text-slate-100 min-h-screen max-h-fit"
    >
        <slot />
    </body>
</html>
