---
import Navbar from "../components/Navbar.svelte";

export interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <slot name="head" />
        <link href="/favicon.svg" rel="icon" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <script
            type="text/partytown"
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-FN4NFCRDZ1"
        ></script><script>
            // @ts-nocheck
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-FN4NFCRDZ1");
        </script></head
    >
    <body class="bg-zinc-900 text-slate-100 min-h-screen">
        <Navbar client:only />
        <slot />
    </body>
</html>
