---
import Nav from '../components/Nav.astro';

export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head" />
    <link href="/favicon.svg" rel="icon" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-zinc-900 text-slate-100 flex flex-col h-screen">
    <Nav/>
    <div class="grow">
      <slot />
    </div>
  </body>
</html>
