---
import Navbar from "../components/Navbar.svelte";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <slot name="head" />
        <script
            src="https://kit.fontawesome.com/cbef3dd862.js"
            crossorigin="anonymous"
        ></script>
        <link href="/favicon.svg" rel="icon" />
        <title>{title}</title>
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FN4NFCRDZ1"
    ></script>
    <script>
        //@ts-ignore
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            //@ts-ignore
            dataLayer.push(arguments);
        }
        //@ts-ignore
        gtag("js", new Date());
        //@ts-ignore
        gtag("config", "G-FN4NFCRDZ1");
    </script>
    <body
        class="bg-gradient-to-tr from-slate-900 via-gray-800 to-stone-900 text-slate-100 min-h-screen max-h-fit"
    >
        <Navbar client:load />
        <slot />
    </body>
</html>
